@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./Fonts/WEB/css/satoshi.css');

html{
  background: #1C1C1C;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';
}

li{
  list-style: none;
}